@use "/src/styles/partials/typography" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variables" as *;

.mainVideo {
  padding-top: 0.5rem;
  &__video {
    width: 100%;
    height: 15rem;
    background-color: black;
  }
  &__details {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
  &__title {
    font-size: 2rem;
    font-weight: 700;
  }
  &__stats {
    display: flex;
    box-sizing: border-box;
    border-top: 0.125rem solid #e1e1e1;
    border-bottom: 0.125rem solid #e1e1e1;
    gap: 5rem;
  }
  &__channel {
    font-size: 1.1rem;
    font-weight: 600;
  }
  &__date {
    font-weight: 400;
    font-size: 1.1rem;
    color: #afafaf;
  }
  &__viewsLikes {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    gap: 1.5rem;
  }
  &__views,
  &__likes {
    display: flex;
    gap: 0.6rem;
    align-items: center;
  }
  &__viewIcon,
  &__likesIcon {
    height: 1.2rem;
  }
  &__viewCount,
  &__likesCount {
    color: #afafaf;
    @include margin-reset;
  }

  &__description {
    font-size: 1.125rem;
  }
  &__commentLength {
    padding-top: 0.5rem;
    font-weight: 600;
  }
}
