@use 'typography' as *;

//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
//color
// $header-footer-background: #323232;
// $header-footer-text: white;
// $body-text: white;
//fonts
$font-global: "Avenir";