@use "/src/styles/partials/typography" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variables" as *;

.navItem {
  display: flex;
  gap: 1rem;
  padding-bottom: 1.2rem;
  &:hover {
    transform: scale(1.02);
  }
  @include tablet {
    width: 60%;
  }
  @include desktop {
    width: 90%;
  }
  &__imgEl {
    display: flex;
    align-self: center;
  }
  &__image {
    height: 5.2rem;
    border-radius: 0.3rem;
    @include tablet {
      height: 4.7rem;
    }
  }
  &__nextVideosDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    font-weight: bold;
    color: black;
    @include margin-reset;
    @include tablet {
      font-size: 1rem;
    }
  }
  &__channel {
    font-size: 1.1rem;
    color: black;
    @include margin-reset;
    @include tablet {
      font-size: 1rem;
    }
  }
}
.navItem__link {
  text-decoration: none;
}
