@use "/src/styles/partials/typography" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variables" as *;

.header {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    padding: 1.2rem;
    justify-content: center;
    img {
      height: 2rem;
    }
  }
  &__sideElements {
    display: flex;
    justify-content: flex-end;
    @include tablet {
      display: block;
    }
  }
  &__allElements {
    @include tablet {
      display: flex;
      justify-content: flex-end;
      padding-right: 4rem;
      padding-top: 1rem;
    }
  }
  &__searchInput {
    flex-grow: 1;
    padding-top: 0.1rem;
  }
  &__searchField {
    font-size: 0.95rem;
    font-weight: 400;
    height: 2.6rem;
    width: 95%;
    border: 0.13rem solid #e1e1e1;
    background-color: #fafafa;
    border-radius: 0.3rem;
    margin-bottom: 1rem;

    &::placeholder {
      color: black;
      position: absolute;
      left: 2.5rem;
    }
  }
  &__searchIcon {
    position: absolute;
    left: 1.6rem;
    top: 5.3rem;
    @include tablet {
      top: 2rem;
      left: 23rem;
    }
  }
  &__buttonEl {
    background-color: #0095ff;
    color: white;
    font-size: 1rem;
    width: 100%;
    height: 3rem;
    border-color: transparent;
    border-radius: 0.4rem;
    text-align: center;
    @include tablet {
      width: 11rem;
      height: 2.7rem;
      font-size: 0.8rem;
    }
  }
  &__buttonIcon {
    position: absolute;
    left: 1.5rem;
    top: 8.8rem;
    height: 1.7rem;
    @include tablet {
      top: 1.7rem;
      left: 37rem;
      height: 1.4rem;
    }
  }
  &__avatar {
    height: 3rem;
    border-radius: 50%;
    width: 3rem;
    @include tablet {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }
}
