@use "/src/styles/partials/typography" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variables" as *;

.comment {
  border-top: 2px solid #e1e1e1;
  @include desktop {
    padding-bottom: 5rem;
  }
  &__container {
    border-bottom: 2px solid #e1e1e1;
    display: flex;
    margin-bottom: 0.5rem;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  &__iconEl {
    background-color: #e1e1e1;
    height: 2.7rem;
    width: 3.1rem;
    border-radius: 50%;
  }
  &__nameDate {
    display: flex;
    justify-content: space-between;
  }
  &__date {
    color: #afafaf;
    @include margin-reset;
  }
  &__name {
    font-weight: 600;
    @include margin-reset;
  }
}
