@use "/src/styles/partials/typography" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variables" as *;

html,
body {
  @include fit;
  font-family: $font-global, Arial, sans-serif;
}
.mainBFlix {
  @include fit;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}
